@charset "ISO-8859-1";

#admin-main-grid {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	margin: 1px;
	flex-grow: 1; /*Flex as a child to grow vertically from flex parent.*/
}

#admin-grid-item-users-logged-in {
	grid-column: 1 / 1;
	grid-row: 1 / span 4;
}

#admin-grid-item-updates {
	grid-column: 1 / span 4;
	grid-row: 1 / span 4;
	background-color: var(--lightest-green);
}

#admin-grid-item-update-patient {
	grid-column: 5 / span 2;
	grid-row: 1 / span 2;
	background-color: var(--lightest-blue);
}

#admin-grid-item-add-patient {
	grid-column: 5 / span 2;
	grid-row: 3 / span 2;
	background-color: var(--lightest-blue);
}