@charset "UTF-8";

#addWardForm{display:none;}

/*Flexbox layout*/
.facilityBox {
	display: flex;
	flex-direction: column;
}

/*Grid layout*/
.facilty-grid-wrapper {
	display: inline-grid;
	grid-template-columns: repeat(3, 1fr);
}

/*Facility Labels*/
.facility-label {
	grid-column-start: 1;
	grid-column-end: 1;
	color: red;
}

/*Facility Data*/
.facility-data {
	grid-column-start: 2;
	grid-column-end: 3;
}