@charset "ISO-8859-1";

.main-font {
	
	font-family: Verdana, Arial, sans-serif;
}

.btn {
	background-color: #334257;
	color: white;
	padding: 10px 15px;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.btn:hover {
	background-color: #476072!important;
	color: white;
	cursor: pointer;
}

.btn-space {
	margin-top: 15px;
}