@charset "ISO-8859-1";

:root {
	--darkest-blue: #334257;
	--darker-blue: #476072;
	--light-blue: #548CA8;
	--off-white: #EEEEEE;
	
	--lightest-blue: #E1E5EA;
	--lightest-green: #D3DEDC;
	
	--round-corner-radius: 5px;
}

.main-font {
	
	font-family: Verdana, Arial, sans-serif;
}

.btn {
	background-color: #334257;
	color: white;
	padding: 10px 15px;
	border: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: var(--round-corner-radius);
}

.btn:hover {
	background-color: #476072!important;
	color: white;
	cursor: pointer;
}

.btn-space {
	margin-top: 15px;
}