@charset "ISO-8859-1";

html, body {

	height: 100%;
	margin: 0px; /*To eliminate default browser user agent margin of 8px*/
	padding: 0;
	overflow: hidden;
}

.main {
	overflow-x: hidden;
	background-color: #EEE;
	font-size: 12px;
	padding: var(--text-padding);
	height: 100%;
	width: calc((100% - var(--sidenav-width)) - 6.5%);
}
