@charset "ISO-8859-1";

/*CSS variables are in general.css*/

html, body {
	height: 100%;
	margin: 0px; /*To eliminate default browser user agent margin of 8px*/
	padding: 0;
	overflow: hidden;
}

.main {
	overflow: hidden;
	background-color: var(--off-white);
	font-size: 12px;
	height: 100%;
	display: flex; /*Needed to use flex in the parent to enable the child to grow vertically.*/
	flex-direction: column;
}

.main-grid {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	margin: 1px;
	flex-grow: 1; /*Flex as a child to grow vertically from flex parent.*/
}

.content-container {
	display: block;
	background-color: var(--off-white);
	margin: 2px;
}

.content-label {
	color: var(--darkest-blue);
	padding: var(--text-padding);
	margin: 1px;
}

.content-box {
	padding: var(--text-padding);
	height: 100%;
}

.grid-item-users-logged-in {
	grid-column: 1 / 1;
	grid-row: 1 / span 4;
}

.grid-item-updates {
	grid-column: 1 / span 4;
	grid-row: 1 / span 4;
	background-color: var(--lightest-green);

}

.grid-item-update-patient {
	grid-column: 5 / span 2;
	grid-row: 1 / span 2;
	background-color: var(--lightest-blue);
}

.grid-item-add-patient {
	grid-column: 5 / span 2;
	grid-row: 3 / span 2;
	background-color: var(--lightest-blue);
}