@charset "ISO-8859-1";

/*CSS variables are in general.css*/

.main-grid-container {
	overflow: hidden;
	background-color: var(--off-white);
	font-size: 12px;
	height: 100%;
	display: flex; /*Needed to use flex in the parent to enable the child to grow vertically.*/
	flex-direction: column;
}

.main-grid-container-side-nav {
	overflow-x: hidden;
	background-color: var(--off-white);
	font-size: 12px;
	height: 90%;
	width: calc((100% - var(--sidenav-width)) - 0.5%);
	left: 30px;
	display: flex; /*Needed to use flex in the parent to enable the child to grow vertically.*/
	flex-direction: column;
}

.content-container {
	display: block;
	background-color: var(--off-white);
	margin: 2px;
}

.content-label {
	color: var(--darkest-blue);
	padding: var(--text-padding);
	margin: 1px;
}

.content-box {
	padding: var(--text-padding);
	height: 60%;
}

.grid-item-users-logged-in {
	grid-column: 1 / 1;
	grid-row: 1 / span 4;
}
