@charset "ISO-8859-1";

 /* Style the buttons that are used to open and close the accordion panel */
.med-record-accordion {
	background-color: var(--accordion-color);
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .med-record-accordion:hover {
	background-color: var(--accordion-hover);
}

/* Style the accordion panel. Note: hidden by default */
.med-record-panel {
	padding: 0 18px;
	background-color: var(--off-white);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
} 

.med-rec-modal {
	display: none;  /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.vitals-edit-modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close-med-rec-modal {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close-med-rec-modal:hover, 
.close-med-rec-modal:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#medRecModal {
  display: none; /* Hide the modal by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  box-sizing: border-box;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 85%;
  width: 85%;
  min-height: 95%;
  max-height: 95%;
  overflow: auto;
  z-index: 10000;
  background-color: var(--lightest-blue);
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
}

.modal-fieldset {
	margin-bottom: 20px;
	padding: 0;
	border: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
}

.modal-legend {
	font-weight: bold;
	font-size: 1.1rem;
	color: #333;
	padding: 10px;
	background-color: #f5f5f5;
	border-radius: 5px 5px 0 0;
	border: none;
	width: 100%;
	box-sizing: border-box;
}

.modal-fieldset-content {
	padding: 10px;
	background-color: #fff;
	border: none;
	border-radius: 0 0 5px 5px;
	width: 100%;
	box-sizing: border-box;
}

.close {
  position: absolute;
  top: 20px;
  right: calc(20px + 16px);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-form {
  margin-top: 20px;
}

.modal-form input[type="text"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
}

.modal-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.modal-form input[type="submit"]:hover {
  background-color: #45a049;
}

 /* Style the tab */
/*
.medrectab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.medrectab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.medrectab button:hover {
  background-color: #ddd;
}

.medrectab button.active {
  background-color: #ccc;
}

.medrectabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 
*/

#patientSidebar {
 	flex: 1;
	background-color: var(--lightest-blue);
	border-radius: 5px;
	padding: 20px;
	max-width: 20%;
 	box-sizing: border-box;
 	height: 100%;
 	position: sticky;
 	top: 0;
}

#patientSidebarActive {
  text-align: center;
  color: green;
  padding-bottom: 40px;
}

#patientSidebarId {
	padding-bottom: 30px;
	background-color: var(--lightest-blue);
  	font-size: 14px;
}

#patientSidebarId.active {
	color: green;	
}

#patientSidebarId.inactive {
	color: grey;	
}

.patient-sidebar {
  flex: 1;
  background-color: #f2f2f2;
}

.patient-profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: var(--lightest-blue);
}

.patient-info {
	display: grid;
	grid-template-columns: auto 1fr; /* Two columns: auto for labels, 1fr for values */
	grid-gap: 10px; 
	width: 100%;
}

.patient-info .label {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.patient-info .value {
  text-align: right;
  font-size: 14px;
  color: #333;
}

.patient-info .label,
.patient-info .value {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}


.patient-picture {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 10%;
}


.patient-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}

.patient-sidebar-text {
  font-size: 16px;
  color: #888;
}

#tabsContainer {
	flex: 2;
	background-color: var(--off-white);
	border-radius: 5px;
	padding: 20px;
	max-width: 80%;
	box-sizing: border-box;
	/* Always show vertical scrollbar */
	overflow-y: scroll;
}

@media screen and (min-width: 768px) {
	#patientSidebar {
		flex: 1 0 30%;
		max-width: 30%;
	}
	
	#tabsContainer {
		flex: 2 0 70%;
		max-width: 70%;	
	}
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  background-color: var(--light-blue);
  border: none;
  color: var(--off-white);
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px 5px 0 0;
}

.tab.active {
  background-color: var(--lightest-blue);
  color: var(--darker-blue);
}

.tab-content {
  display: none;
  padding: 20px;
  background-color: var(--lightest-blue);
}

.tab-content.active {
  display: block;
}

.encounter-list {
  list-style: none;
  padding: 0;
}

.encounter-item {
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.encounter-title {
  font-weight: bold;
  color: #333;
  font-size: 18px;
}

.encounter-date {
  color: #888;
  font-size: 14px;
}

.encounter-item a {
  text-decoration: none;
  color: #333;
}

.encounter-item:hover {
  background-color: #e0e0e0;
}
