@charset "ISO-8859-1";

#main {
	overflow: hidden;
	background-color: var(--off-white);
	font-size: 12px;
	height: 100%;
	display: flex; /*Needed to use flex in the parent to enable the child to grow vertically.*/
	flex-direction: column;
}

#patients-grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-columns: auto;
	margin: 1px;
	flex-grow: 1; /*Flex as a child to grow vertically from flex parent.*/
}

#content-container {
	display: block;
	background-color: var(--off-white);
	margin: 2px;
}

#patients-grid-recent {
	grid-column: 1 / span 3;
	background-color: var(--lightest-green);
}

#patients-grid-search {
	grid-column: 4 / span 2;
	background-color: var(--lightest-blue);
}