@charset "ISO-8859-1";

/* Patient List */
#list-link:hover {
	background: var(--lightest-blue);
	border: 1px solid var(--light-blue);
}

#list-link td a {
	display: block;
	text-decoration: none;
}

/*Patients Search Page*/
#patients-search-main-grid {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	margin: 1px;
	height: 100%;
	flex-grow: 1; /*Flex as a child to grow vertically from flex parent.*/
}

#patients-search-grid-search {
	grid-column: 1 / span 3;
	grid-row: 1;
	background-color: var(--lightest-blue);
}

#patients-search-grid-recent {
	grid-column: 4 / span 2;
	grid-row: 1;
	background-color: var(--lightest-green);
}

/*Add Patients Page*/
#patients-add-main-grid {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-columns: auto;
	margin: 1px;
	height: 100%;
	flex-grow: 1; /*Flex as a child to grow vertically from flex parent.*/
}

