@charset "ISO-8859-1";

html, body {
	height: 100%;
}

.topnav-ul {
	list-style-type: none;
	position: fixed;
	height: 11%;
	width: 100%;
	z-index: 2;
	overflow: hidden;
	background-color: #476072;
	padding: 8px 8px 6px 16px;
	font-size: 23px;
}

.topnav-li {
	float: left;
}

.topnav-li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav-li a:hover:not(.active) {
	background-color: #111;
}

.topnav-active {
	background-color: green;
}

@media screen and (max-height: 450px) {
	.topnav-ul {padding-top: 15px;}
	.topnav-ul a {font-size: 18px;}
}