@charset "ISO-8859-1";

html, body {

	height: 100%;
	margin: 0px; /*To eliminate default browser user agent margin of 8px*/
	padding: 0;
}

.sectopnav {
	
	top: 6%;
	height: 8%;
	width: 100%;
	position: fixed;
	background-color: #476072;
}

.sectopnav-ul, .sectopnav-ul a {
	
	height: 100%;
}

.sectopnav-ul {

	display: grid;
    grid-auto-flow: column; /*Makes items flow across columns into a single row*/ 
	overflow: hidden;
	font-size: 14px;
}

.sectopnav-ul a, .sectopnav-ul span {

	border-style: none solid;
	border-width: 1px;
	border-color: #334257;
	padding: 7% 0;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

.sectopnav-ul a:hover:not(.sectopnav-active) {
	background-color: #334257;
}

.sectopnav-active {
	background-color: green;
}

@media screen and (max-height: 450px) {
	.sectopnav-ul {padding-top: 15px;}
	.sectopnav-ul a {font-size: 18px;}
}