@charset "ISO-8859-1";

/*CSS variables are in general.css*/

html, body {

	height: 100%;
	margin: 0px; /*To eliminate default browser user agent margin of 8px*/
	padding: 0;
}

.sectopnav {
	
	top: 6%;
	height: 7%;
	width: 100%;
	background-color: var(--darker-blue);
	border-style: solid;
	border-width: 2px;
	border-color: var(--off-white);
}

.sectopnav-ul {

	height: 100%;
	display: grid;
    grid-auto-flow: column; /*Makes items flow across columns into a single row*/ 
	overflow: hidden;
}

.sectopnav-button {
	
	background-color: var(--darker-blue);
	border-style: none solid;
	border-width: 1px;
	border-color: var(--off-white);
	padding: 5% 0;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.sectopnav-button:hover:not(.sectopnav-active) {
	background-color: var(--darkest-blue);
	cursor: pointer;
}

.sectopnav-active {
	background-color: green;
}

@media screen and (max-height: 450px) {
	.sectopnav-ul {padding-top: 15px;}
	.sectopnav-ul a {font-size: 18px;}
}