@charset "ISO-8859-1";

.sidenav {
	height: 100%;
	width: 18%; 
	position: fixed;
	z-index: 1;
	margin-top: 6%;
	margin-left: 6%;
	background-color: #548CA8;
	overflow-x: hidden;
	padding: 8px 0;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	color: #EEE;
	display: block;
}

.sidenav a:hover {
	color: #064579;
}

.main {
	margin-left: 24%; 
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 20px;
	padding: 50px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}