@charset "ISO-8859-1";

/*CSS variables are in general.css*/

html, body {
	height: 100%;
	margin: 0px; /*To eliminate default browser user agent margin of 8px*/
	padding: 0;
}

/* Side main menu*/
.side-main-menu {
	height: 100%;
	width: var(--sidenav-left-margin);
	background-color: var(--darker-blue);
	text-align: center;
}

/* Content side nav */
.sidenav {
	height: 100%;
	width: var(--sidenav-width); 
	background-color: var(--light-blue);
	overflow: hidden;
	font-size: 14px;
	padding: 0% 0;
}

.sidenav a {
	padding: 8px 8px 6px 25px;
	text-decoration: none;
	color: #fff;
	display: block;
}

.sidenav a:hover {
	color: #064579;
}

.sidenav .sidenav-active > a {
	background-color: var(--off-white);
	color: var(--darker-blue);
	display: block;
}

.sidenav > .sidenav-active {
	padding: 8px 8px 6px 25px;
	background-color: var(--off-white);
	color: var(--darker-blue);
	display: block;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}