@charset "ISO-8859-1";

html, body {
	height: 100%;
}

.sidenav {
	height: 100%;
	width: 16%; 
	position: fixed;
	z-index: 1;
	margin-top: 5%;
	background-color: #548CA8;
	overflow-x: hidden;
	padding: 8px 0;
}

.sidenav a {
	padding: 8px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	display: block;
}

.sidenav a:hover {
	color: #064579;
}

.main {
	margin-top: 7%;
	margin-left: 19%; 
	margin-bottom: 2%;
	background-color: #FFF;
	font-size: 12px;
	padding: 20px 10px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}