@charset "ISO-8859-1";

html, body {

	height: 100%;
}

.topnav {
	
	height: 8%;
	width: 100%;
	position: fixed;
	background-color: #476072;
}

.topnav-ul, .topnav-ul a {
	
	height: 100%;
}

.topnav-ul {

	display: grid;
    grid-auto-flow: column; /*Makes items flow across columns into a single row*/ 
	overflow: hidden;
	font-size: 16px;
}

.topnav-ul a, .topnav-ul span {

	padding: 3% 0;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

.topnav-ul a:hover:not(.topnav-active) {
	background-color: #111;
}

.topnav-active {
	background-color: green;
}

@media screen and (max-height: 450px) {
	.topnav-ul {padding-top: 15px;}
	.topnav-ul a {font-size: 18px;}
}