@charset "ISO-8859-1";

.topnav-ul {
	list-style-type: none;
	height: 15%;
	margin-left: 24%;
	margin-top: 1%;
	padding: 0;
	overflow: hidden;
	background-color: #548CA8;
}

.topnav-li {
	float: left;
}

.topnav-li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav-li a:hover:not(.active) {
	background-color: #111;
}

.topnav-active {
	background-color: green;
}
