@charset "ISO-8859-1";

html, body {

	height: 100%;
	margin: 0px; /*To eliminate default browser user agent margin of 8px*/
	padding: 0;
}

.topnav {
	
	display: grid;
    grid-template-columns: auto auto auto; 
    grid-auto-flow: column; /*Makes items flow across columns into a single row*/ 
	top: 0;
	height: 6%;
	width: 100%;
	position: fixed;
	background-color: #334257;
}

.topnav-brand, .topnav-user {
	padding: 2% 0;
	color: white;
	vertical-align: middle;
}

.topnav-brand {
	font-size: 15px;
	font-weight: bold;
	padding-left: 16px;
	grid-column: 1 / 1;
}

.topnav-user {
	font-size: 12px;
	text-align: right;
	padding-right: 16px;
	grid-column: 3 / 3;
}

@media screen and (max-height: 450px) {
	.topnav-ul {padding-top: 15px;}
	.topnav-ul a {font-size: 18px;}
}