@charset "ISO-8859-1";

.grid-container {
	display: grid;
	grid-template-rows: auto auto;
	padding: 5px;
}

.grid-item {
	padding: 5px;
	text-align: left;
}

.med-prob-text {
	margin-left: 4px;	
}

.illness-row {
	display: grid;
	grid-auto-flow: column;
}

.illness-row {
	grid-gap: 10px;
}

.illness-checkbox {
	padding: 10px 0px;
}