@charset "ISO-8859-1";

#patientTitle {
	display: none;
}

#nonpatientTitle {
	display: none;
}

#addUserForm {
	display: none;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	padding: 10px;
}

.grid-item {
	padding: 20px;
	text-align: left;
}